<?xml version="1.0" encoding="UTF-8"?>
<root>
    <site_title>Ai Seminar</site_title>
    <record_button_text>Записаться на семинар</record_button_text>
    <content>
        <icons>
            <top>Уникальная</top>
            <bottom>комплексная программа</bottom>
        </icons>
        <icons>
            <top>Бесценный опыт</top>
            <bottom>общения с ведущими экспертами</bottom>
        </icons>
        <icons>
            <top>Мощный</top>
            <bottom>импульс для вашего бизнеса</bottom>
        </icons>
        <pictures>
            <top>Уникальная программа</top>
            <bottom>Погрузитесь в мир современных ИИ-решений и экспертизы в области цифровизации.</bottom>
        </pictures>
        <pictures>
            <top>Профессиональный диалог</top>
            <bottom>Оцените потенциал применения ИИ в вашей компании вместе с ведущими экспертами.</bottom>
        </pictures>
        <pictures>
            <top>Стратегические инициативы</top>
            <bottom>Сформулируйте основные проекты в ИИ-сфере, готовые к запуску после семинара.</bottom>
        </pictures>
        <experts>
            <name>Сергей</name>
            <family>Кирюшин</family>
            <title>Эксперт по ИТ и цифровизации</title>
            <site>https://4cio.ru/people/user/730</site>
        </experts>
        <experts>
            <name>Павел</name>
            <family>Плахотный</family>
            <title>Эксперт по промышленности</title>
            <site>https://4cio.ru/people/user/1823</site>
        </experts>
        <experts>
            <name>Павел</name>
            <family>Алфёров</family>
            <title>Эксперт по управлению проектами</title>
            <site>https://alferov.expert/</site>
        </experts>
        <experts>
            <name>Владимир</name>
            <family>Определёнов</family>
            <title>Эксперт по маркетингу</title>
            <site>https://4cio.ru/people/user/17741</site>
        </experts>
        <experts>
            <name>Александр</name>
            <family>Усик</family>
            <title>Эксперт по сельскому хозяйству</title>
            <site>https://4cio.ru/people/user/749</site>
        </experts>
        <experts>
            <name>Владимир</name>
            <family>Иванов</family>
            <title>Эксперт по девелопменту</title>
            <site>https://4cio.ru/people/user/2683</site>
        </experts>
        <experts>
            <name>Денис</name>
            <family>Турдаков</family>
            <title>Эксперт по ИИ</title>
            <site>https://ai.gov.ru/rnd/ic/doverennogo-iskusstvennogo-intellekta-isp-ran/</site>
        </experts>
        <questions>
            <question>Что такое стратегический семинар по ИИ?</question>
            <answer>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tempor lacus vel urna facilisis malesuada. Maecenas lacinia tortor ac odio faucibus ornare. Praesent condimentum varius volutpat. Nulla accumsan felis in sapien aliquam, sed malesuada diam aliquam. Sed at convallis ipsum. Aliquam erat volutpat. Mauris sollicitudin libero quis magna laoreet efficitur. Donec cursus nibh vel varius dictum. Sed sed eros et leo varius facilisis id id elit.</answer>
        </questions>
        <questions>
            <question>Какие выгоды принесет участие в семинаре?</question>
            <answer>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tempor lacus vel urna facilisis malesuada. Maecenas lacinia tortor ac odio faucibus ornare. Praesent condimentum varius volutpat. Nulla accumsan felis in sapien aliquam, sed malesuada diam aliquam. Sed at convallis ipsum. Aliquam erat volutpat. Mauris sollicitudin libero quis magna laoreet efficitur. Donec cursus nibh vel varius dictum. Sed sed eros et leo varius facilisis id id elit.</answer>
        </questions>
        <questions>
            <question>Кто ведет семинар по ИИ?</question>
            <answer>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tempor lacus vel urna facilisis malesuada. Maecenas lacinia tortor ac odio faucibus ornare. Praesent condimentum varius volutpat. Nulla accumsan felis in sapien aliquam, sed malesuada diam aliquam. Sed at convallis ipsum. Aliquam erat volutpat. Mauris sollicitudin libero quis magna laoreet efficitur. Donec cursus nibh vel varius dictum. Sed sed eros et leo varius facilisis id id elit.</answer>
        </questions>
        <questions>
            <question>Что я получу по окончанию семинара?</question>
            <answer>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tempor lacus vel urna facilisis malesuada. Maecenas lacinia tortor ac odio faucibus ornare. Praesent condimentum varius volutpat. Nulla accumsan felis in sapien aliquam, sed malesuada diam aliquam. Sed at convallis ipsum. Aliquam erat volutpat. Mauris sollicitudin libero quis magna laoreet efficitur. Donec cursus nibh vel varius dictum. Sed sed eros et leo varius facilisis id id elit.</answer>
        </questions>
        <questions>
            <question>Как записаться на семинар?</question>
            <answer>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tempor lacus vel urna facilisis malesuada. Maecenas lacinia tortor ac odio faucibus ornare. Praesent condimentum varius volutpat. Nulla accumsan felis in sapien aliquam, sed malesuada diam aliquam. Sed at convallis ipsum. Aliquam erat volutpat. Mauris sollicitudin libero quis magna laoreet efficitur. Donec cursus nibh vel varius dictum. Sed sed eros et leo varius facilisis id id elit.</answer>
        </questions>
    </content>
    <contacts>
        <main>
            <phone>+7 (495) 123-4567</phone>
            <email>info@seminar.ru</email>
        </main>
        <persons>
            <name>Сергей</name>
            <family>Кирюшин</family>
            <title>Эксперт по ИТ и цифровизации</title>
            <telegram>@sergey_kiryushin</telegram>
            <whatsapp>+79259994664</whatsapp>
        </persons>
        <persons>
            <name>Сергей</name>
            <family>Кирюшин</family>
            <title>Эксперт по ИТ и цифровизации</title>
            <telegram>@sergey_kiryushin</telegram>
            <whatsapp>+79259994664</whatsapp>
        </persons>
    </contacts>
</root>
