<?xml version="1.0" encoding="UTF-8"?>
<root>
    <site_title>Ai Seminar</site_title>
    <record_button_text>Оставить заявку</record_button_text>
    <form_request_head>Форма обратной связи</form_request_head>
    <footer_text>ООО «Автоматизированные технологии и сервисы»</footer_text>
    <content>
        <icons>
            <top>Уникальная</top>
            <bottom>комплексная программа</bottom>
        </icons>
        <icons>
            <top>Бесценный опыт</top>
            <bottom>общения с ведущими экспертами</bottom>
        </icons>
        <icons>
            <top>Мощный</top>
            <bottom>импульс для вашего бизнеса</bottom>
        </icons>
        <pictures>
            <top>Уникальная программа</top>
            <bottom>Погрузитесь в мир современных ИИ-решений и экспертизы в области цифровизации.</bottom>
        </pictures>
        <pictures>
            <top>Профессиональный диалог</top>
            <bottom>Оцените потенциал применения ИИ в вашей компании вместе с ведущими экспертами.</bottom>
        </pictures>
        <pictures>
            <top>Стратегические инициативы</top>
            <bottom>Сформулируйте основные проекты в ИИ-сфере, готовые к запуску после семинара.</bottom>
        </pictures>
        <experts>
            <name>Сергей</name>
            <family>Кирюшин</family>
            <title>Эксперт по ИТ и цифровизации</title>
            <site>https://4cio.ru/people/user/730</site>
        </experts>
        <experts>
            <name>Павел</name>
            <family>Плахотный</family>
            <title>Эксперт по промышленности</title>
            <site>https://4cio.ru/people/user/1823</site>
        </experts>
        <experts>
            <name>Павел</name>
            <family>Алфёров</family>
            <title>Эксперт по управлению проектами</title>
            <site>https://alferov.expert/</site>
        </experts>
        <experts>
            <name>Владимир</name>
            <family>Определёнов</family>
            <title>Эксперт по маркетингу</title>
            <site>https://4cio.ru/people/user/17741</site>
        </experts>
        <experts>
            <name>Александр</name>
            <family>Усик</family>
            <title>Эксперт по сельскому хозяйству</title>
            <site>https://4cio.ru/people/user/749</site>
        </experts>
        <experts>
            <name>Владимир</name>
            <family>Иванов</family>
            <title>Эксперт по девелопменту</title>
            <site>https://4cio.ru/people/user/2683</site>
        </experts>
        <experts>
            <name>Денис</name>
            <family>Турдаков</family>
            <title>Эксперт по ИИ</title>
            <site>https://ai.gov.ru/rnd/ic/doverennogo-iskusstvennogo-intellekta-isp-ran/</site>
        </experts>
        <questions>
            <question>Что такое стратегический семинар по искусственному интеллекту?</question>
            <answer>Уникальная программа для вашей организации, которая позволит предметно ознакомиться с современными решениями в области искусственного интеллекта (ИИ) и практикой их использования, а также вместе с ведущими экспертами рынка в области цифровизации и ИИ оценить потенциал применения ИИ в Вашей компании.</answer>
        </questions>
        <questions>
            <question>Какие преимущества даст стратегический семинар?</question>
            <answer>Стратегический семинар позволит разобраться в возможностях искусственного интеллекта (ИИ) и перспективах применения ИИ в вашей организации. Кроме того, по результатам профессионального диалога с ведущими экспертами рынка будут сформулированы конкретные стратегические инициативы и проекты в ИИ-сфере, необходимые к запуску в ближайшее время.</answer>
        </questions>
        <questions>
            <question>Кто проводит стратегический семинар?</question>
            <answer>Стратегический семинар проводят ведущие эксперты рынка, имеющие большой практический опыт в вопросах цифровизации и искусственного интеллекта, в том числе в сфере деятельности вашей организации.</answer>
        </questions>
        <questions>
            <question>Как организовать проведение стратегического семинара?</question>
            <answer>Для организации проведения стратегического семинара необходимо связаться с нами, 	и мы совместно выработаем оптимальный для вас формат мероприятия, согласуем место и сроки его проведения, подберём наиболее релевантных бизнес-профилю вашей организации ведущих экспертов-профессионалов, а также согласуем иные детали стратегического семинара.</answer>
        </questions>
        <questions>
            <question>Как формируется программа стратегического семинара?</question>
            <answer>Программа стратегического семинара формируется индивидуально под ваши потребности/ задачи. В «базовом» варианте в рамках 2-3 дневного стратегического семинара предполагается проведение ряда сессий/ семинаров, включая: общее ознакомление с цифровизацией и с искусственным интеллектом (ИИ) и его возможностями; примеры практического применения ИИ в разных сферах и достигаемый при этом эффект; используемые ИИ-инструменты и достигаемые эффекты в отрасли, где работает ваша организация; экспертное обсуждение базовых бизнес-задач / проблем вашей организации и совместная выработка перечня наиболее перспективных ИИ-инициатив и проектов</answer>
        </questions>
        <questions>
            <question>Какеие преимущества участия в стратегическом семинаре для сотрудников?</question>
            <answer>Сотрудники – участники стратегического семинара смогут повысить свой профессиональный уровень и разобраться в возможностях и перспективах применения искусственного интеллекта (ИИ) в вашей организации, при этом получат сертификаты государственного образца о повышении квалификации в рамках дополнительной профессиональной программы «Теория и практика искусственного интеллекта» Президентской академии.</answer>
        </questions>
    </content>
    <contacts>
        <main>
            <phone>+7 (495) 123-4567</phone>
            <email>info@seminar.ru</email>
        </main>
        <persons>
            <name>Сергей</name>
            <family></family>
            <telegram>@sergey</telegram>
            <whatsapp>+79251001112</whatsapp>
        </persons>
        <persons>
            <name>Анна</name>
            <family></family>
            <telegram>@sergey</telegram>
            <whatsapp>+79251001112</whatsapp>
        </persons>
    </contacts>
</root>
